@model Library.Models.Book

<h2><em>Delete Book</em></h2>
<hr>

<p>Title: @Model.Title</p>
<p><strong>Author(s):</strong></p>
@foreach (var join in Model.Authors)
{
    <p>
    @if(!String.IsNullOrEmpty(@join.Author.FirstName))
    {
        @join.Author.FirstName
    }
    @join.Author.LastName
    </p>
}

<p><strong>Genre(s): </strong></p>
@foreach (var join in Model.Genres)
{
    <p>@join.Genre.Name</p>
}

@if(!String.IsNullOrEmpty(Model.PubYear.ToString()))
{
    <p><strong>Publication Year: </strong>@Model.PubYear</p>
}

<h3><strong>Are you sure you want to delete this book?</strong></h3>
@using (Html.BeginForm())
{
    <input class="btn btn-danger" type="submit" value="Delete Book">
}


<button class="btn btn-default">@Html.ActionLink("Back To Home", "Index", "Account")</button>