@using Library.Models
@using System.Security.Claims

<h2>Welcome to your library, @User.Identity.Name!</h2>
<hr>

@using (Html.BeginForm("Index", "Genres"))
{
    @Html.Label("Browse a genre: ")
    @Html.DropDownList("GenreId")
    <input type="submit" class="btn btn-default" value="See Genre">
}
<br>
@using (Html.BeginForm("Index", "Authors"))
{
    @Html.Label("Browse an author: ")
    @Html.DropDownList("AuthorId")
    <input type="submit" class="btn btn-default" value="See Author">
}
<br>
<button class="btn btn-default">@Html.ActionLink("Add a Genre to the Library", "Create", "Genres")</button>
<br>
<button class="btn btn-default">@Html.ActionLink("Add an Author to the Library", "Create", "Authors")</button>
<br>
<button class="btn btn-default">@Html.ActionLink("Add a Book to the Library", "Create", "Books")</button>

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}